.upload-item {
    display: flex;
    align-items: center;
}

.upload-item button {
    background: none;
    border: none;
    cursor: pointer;
}

.upload-item span{
    font-size: 30px;
    color: rgb(9, 130, 174);
}